<form method="post">
    <div class="container">
        <div class="row">
             <div class="input">
                <input type="text" name="Title" placeholder="Title" class="form-control"/>
             </div>
             <div class="input">
                <input type="text" name="Icon" placeholder="Icon" class="form-control"/>
             </div>
             <div class="input">
                <input type="text" name="Description" placeholder="Description" class="form-control"/>
             </div>
             <div class="input">
                <input type="submit" value="Create" class="btn btn-outline-secondary"/>
             </div>
        </div>
    </div>
</form>